.wrapper{
    width: 1920px;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    .container{
        width: 1200px;
        margin: 0 auto;
    }
}
.section5{
    margin-top: 100px;
    width: 100%;
    height: 267px;
    display: flex;
    justify-content: space-between;
    .section5_left{
        width: 289px;
        height: 63px; 
        color: #292F36;
        font-family: DM Serif Display;
        font-size: 50px;
        font-style: normal;
        font-weight: 400;
        line-height: 125%; /* 62.5px */

    }
    .section5_right{
        width: 799px;
        height: 267px;
        display: flex;
        justify-content: center;
        align-items: center; 
        border-radius: 50px;
        background: #F4F0EC;
        .section5_right_child{
            width: 345px;
            height: 153px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            .section5_right_child_top{
                width: 101px;
                height: 103px; 
                color: #CDA274;
                text-align: center;
                font-family: DM Serif Display;
                font-size: 200px;
                font-style: italic;
                font-weight: 400;
                line-height: 125%; /* 250px */
                letter-spacing: 4px;
                display: flex;
                align-items: center;
                justify-content: end;

            }
            .section5_right_child_bottom{
                width: 345px;
                height: 62px;
                 color: #CDA274;
                text-align: center;
                font-family: DM Serif Display;
                font-size: 25px;
                font-style: italic;
                font-weight: 400;
                line-height: 125%; /* 31.25px */
                letter-spacing: 0.5px;

            }
        }


    }
}