.wrapper{
    width: 1920px;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    .container{
        width: 1200px;
        margin: 0 auto;
    }
}
.section4{
margin-top: 50px;
}